{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "module": true,
    "require": true,
  },
  "rules": {
    "no-console": ["error", { allow: ["warn", "error", "log"] }]
  }
}
