@import 'mixins';

.results {
  &[hidden] :not(.loading) { display: none; }

  .loading {
    margin: 0 auto;
  }

  .result-count, .pagination {
    font-size: rem(14);
    line-height: rem(14);
    height: rem(14);
    display: flex;
    align-items: center;
    margin-bottom: rem(20);
  }

  .result-count span {
    margin-left: rem(5);
  }

  .pagination {
    flex-direction: row-reverse;

    .display {
      margin: 0 rem(10);
    }

    .prev, .next {
      cursor: pointer;
      height: 0;
      width: 0;
      border: rem(10) solid transparent;
    }

    .prev {
      border-right: rem(10) solid #ccc;
      &:hover {
        border-right: rem(10) solid #999;
      }
    }

    .next {
      border-left: rem(10) solid #ccc;
      &:hover {
        border-left: rem(10) solid #999;
      }
    }
  }

  $imageSize: rem(150);
  ul.result-list {
    border-top: 1px solid #ccc;
    margin-bottom: rem(20);

    li {
      background: transparent;
      cursor: pointer;
      border-bottom: 1px solid #ccc;
      position: relative;
      padding: rem(10) 0;
      transition: background 300ms ease;

      &:hover {
        background: #eee;
      }

      &:last-child {
        border: none;
      }

      .image {
        border: 1px solid #ccc;
        height: $imageSize;
        width: $imageSize;
      }

      .info {
        position: absolute;
        left: 0;
        top: rem(10);
        padding-left: rem(165);

        h1 {
          font-size: rem(24);
          line-height: rem(30);
        }

        h2 {
          color: #aaa;
          font-family: Times, serif;
          font-size: rem(18);
          font-style: italic;
          font-weight: normal;
          line-height: rem(24);
          margin-bottom: rem(5);
        }

        p {
          font-size: rem(14);
          line-height: rem(16);
        }
      }
    }
  }
}
